.header {
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: #333;
}

.header a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-style: dotted;
}

.hacker-news {
  font-size: 30px;
  font-weight: 600;
}

.tab {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.circles {
  display: flex;
  max-width: 100vh;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.circles svg {
  max-width: 20px;
  max-height: 20px;
}
