.item {
  /* padding: 20px; */
  max-width: 100vw;
  overflow-wrap: break-word;
}

.item h1 a {
  color: inherit;
  text-decoration: inherit;
}

.item-info {
  padding: 10px 0px;
  font-size: 14px;
  opacity: 0.8;
}
