.main-list-item {
  min-height: 100px;
  color: #333;
  font-family: "Sora", sans-serif;
}
.main-list-item:hover {
  background-color: #eee;
}

.main-list-item h1 {
  margin: none;
  font-size: 30px;
  font-weight: 600;
  font-family: Sora, "Encode Sans", sans-serif;
}

.main-list-item a {
  color: inherit;
  text-decoration: inherit;
  font-family: "Sora", sans-serif;
}

.main-list-item a:hover {
  transition: color ease 0.5s;
  color: rgb(0, 130, 130);
}

.main-list-item-info {
  padding: 10px 0px;
  font-size: 14px;
  opacity: 0.8;
}

.main-list-item-info:hover {
  color: darkorange;
  transition: color ease 0.5s;
}

.main-list-item-info .info {
  display: inline-flex;
}
