.main-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

@media only screen and (min-width: 720px) {
  .main-container {
    padding: 0;
    margin-left: 15vw;
    max-width: 70vw;
  }
}
