.main-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

@media only screen and (min-width: 720px) {
  .main-container {
    padding: 0;
    margin-left: 15vw;
    max-width: 70vw;
  }
}

a {
  /* font-family: "Encode Sans", sans-serif; */
  color: rgb(0, 160, 160);
  font-weight: 500;
  text-underline-offset: 5px;
  text-decoration-style: dotted;
}

/* h1 {
  font-family: "Sora", sans-serif;
} */
