.main-list-item {
  min-height: 100px;
  color: #333;
  font-family: "Sora", sans-serif;
}
.main-list-item:hover {
  background-color: #eee;
}

.main-list-item h1 {
  margin: none;
  font-size: 24px;
  font-weight: 600;
  font-family: "Encode Sans", sans-serif;
}

.main-list-item a {
  color: inherit;
  text-decoration: inherit;
  font-family: "Sora", sans-serif;
}

.main-list-item-info {
  padding: 10px 0px;
  font-size: 14px;
  /* display: flex; */
  opacity: 0.8;
  /* flex-direction: row; */
  /* column-gap: 5px; */
  /* justify-content: space-around; */
}

.main-list-item-info .info {
  /* background-color: #333; */
  display: inline-flex;
}
