.story {
  min-height: 100px;
  text-decoration: none;
}
.story:hover {
  /* opacity: 0.75; */
}

.story h1 {
  font-size: large;
  font-weight: 600;
  font-family: "Encode Sans", sans-serif;
}

.story p {
  font-size: small;
  font-family: "Sora", sans-serif;
}

.story a {
  text-decoration: none;
  color: gray;
}
