.story-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  padding: 2em;
}

@media only screen and (min-width: 720px) {
  .story-container {
    padding: 0;
    margin-left: 15vw;
    max-width: 70vw;
  }
}
